{% extends "base.twig" %}
{% block content %}
<h1>Post</h1>
				
				<h2>{{ posts.title }}</h2>
				<div>{{ posts.post }}</div>
				<div>{{ posts.id }}</div>
				<div>{{ posts.created }}</div>
{% endblock %}